@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');
/**/
d* { outline: red 1px solid; } /*this select everything in the web page*/

body {
    background-color: #82DDB5;
    background-image: url('img/illustration.gif'), url('img/texture.jpg');
    background-position: center 280px, left top;
    background-repeat: no-repeat, repeat-x;
    background-size: 800px, auto;
    font-family: 'Quicksand', sans-serif;
    margin: 0;
}

#nav {
    background-color: #6B9;
    border-bottom: 2px dashed #487;
    color: white;
    font-weight: bold;
    padding: 20px 0;
    text-align: center;
    word-spacing: 2em;
}

#header {
    text-align: center;
    margin-top: 40px;
}

#logo {
    width: 360px;
}

#description, #date {
    width: 220px;
}

.register_btn {
    background-color: #E43;
    border: 2px dashed #A43;
    border-radius: 2em;
    color: #FFF;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    margin-top: 25px;
    padding: 15px 30px;
}

#what{
    background-color: rgba(200,240,220,0.8);
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 400px;
    color:#377788;
    line-height: 1.2em;
}

#what h1,#what h2{
                width: 800px;
                margin-left: auto;
                margin-right: auto;
                text-align: center;
}

#what p{
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

#what h1 + p{
    font-size: 1.4em;
    line-height: 1.2em;
}

#sponsor_logos{
    word-spacing: 30px;
}

#sponsor_logos img{
    width: 300px;
    padding-right: 30px;
}

#why{
    background-color: #b6ead3;
    padding-top: 40px;
    padding-bottom: 40px;
    color:#377788;
    line-height: 1.2em;    
}

#why h1{
               width: 800px;
                margin-left: auto;
                margin-right: auto;
                text-align: center;
}
#why p{
                width: 800px;
                margin-left: auto;
                margin-right: auto;
    text-align: left;
    line-height: 1.2em;
}

#where{
    background-image: url("img/map.gif");
    background-position: center;
    /*background-size: 500%;*/
    width: 800px;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    color: #bb4488;
}

#where h1{
               width: 800px;
                margin-left: auto;
                margin-right: auto;
                text-align: center;
}
#where p{
    text-align: right;
	color:#bb4488;
	font-weight: 900;
	padding-right: 150px;
	padding-bottom:350px;
}
#when{
    background-image: url("img/wires.png");
	background-color: #439998;
    padding-top: 40px;
    padding-bottom: 40px;
    color:#ffffff;
    line-height: 1.2em;    
}
#w h1 + p{
font-size: 2.5em;
}


#when h1,#when h2,#when h3{
                margin-left: auto;
                margin-right: auto;
                text-align: center;
				margin-top:30px;
				margin-bottom:10px;
}
 #when > h3{
	 border-top: dashed;
	 padding: 15px 30px;
 }
 #when ul {
        width: 800px;
        margin-left: auto;
        margin-right: auto;
        text-align: left;
}
#when ul > li{
 margin-right:10px;
}
#who{
	background-color:white;
    color:#347788;
    padding-top: 40px;
    padding-bottom: 40px;
    line-height: 1.2em;  	
}
#who h1{
	text-align:center;
	font-size: 2.0em;
}
#who p{
                width: 800px;
                margin-left: auto;
                margin-right: auto;
				text-align: left;
				line-height: 1.2em;
				font-size: 1.2em;
}
#footer{
	background-image: url("img/texture.jpg");
	margin-top:50px;
	margin-bottom:50px;
	text-align:center;
}
 